@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	background: url("https://static.vecteezy.com/system/resources/previews/007/724/628/non_2x/blue-chat-bubbles-on-vivid-background-conversation-concept-3d-illustration-vector.jpg")
		center/cover no-repeat;
}

.no-scrollbar::-webkit-scrollbar {
	width: 4px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
	background-color: #2c2f3c;
	border-radius: 4px;
}

.message {
	max-width: 55%;
	display: flex;
	gap: 15px;

	p {
		background-color: rgb(39, 72, 91);
		border-radius: 5px;
		padding: 5px 12px;
	}

	&.own {
		align-self: flex-end;

		p {
			background-color: rgb(51, 156, 242);
		}
	}
}

.loginInputs {
	width: 100%;
	border-radius: 5px;
	padding: 9px 12px;
	font-size: 18px;
	letter-spacing: 1px;
	outline: none;
	border: none;
	color: white;
	background-color: #1e293b;

	&::placeholder {
		color: white;
	}
}

@media (max-width: 500px) {
	.loginInputs {
		padding: 12px;
	}
}
