.home {
	.container {
		.sidebar {
			.userChat {
				padding: 10px;
				display: flex;
				align-items: center;
				gap: 10px;
				color: white;
				cursor: pointer;
				transition: all 0.1s linear;

				&:hover {
					background-color: #1d1c1c;
				}

				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					object-fit: cover;
				}

				.userChatInfo {
					span {
						font-weight: 700;
						font-size: 18px;
					}
					p {
						font-size: 14px;
						color: lightgray;
					}
				}
			}
		}

		.chat {
			flex: 2;
			background-color: #1d1c1c;

			.chatInfo {
				background-color: #222121;
				color: lightgray;
				height: 60px;
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				span {
					font-size: 18px;
					font-weight: 700;
				}

				.chatIcons {
					display: flex;
					gap: 10px;

					img {
						height: 24px;
						cursor: pointer;
					}
				}
			}

			.messages {
				padding: 10px;
				height: calc(100% - 120px);
				overflow-y: scroll;

				&::-webkit-scrollbar {
					width: 4px;
				}

				&::-webkit-scrollbar-thumb {
					background-color: #ccc;
					border-radius: 4px;
				}

				.message {
					display: flex;
					gap: 20px;

					.messageInfo {
						display: flex;
						flex-direction: column;
						color: #ccc;
						font-weight: 300;

						img {
							width: 40px;
							height: 40px;
							border-radius: 50%;
							object-fit: cover;
						}
					}

					.messageContent {
						display: flex;
						max-width: 80%;
						flex-direction: column;
						gap: 10px;

						p {
							margin-top: 12px;
							padding: 6px 20px;
							font-size: 15px;
							color: #302e2e;
							background-color: #d8d8d8;
							border-radius: 0px 6px 6px 6px;
							max-width: max-content;
						}

						img {
							width: 50%;
							border-radius: 5px;
						}
					}

					&.owner {
						flex-direction: row-reverse;

						.messageContent {
							align-items: flex-end;

							p {
								background-color: #59acdf;
								border-radius: 6px 0px 6px 6px;
							}
						}
					}
				}
			}

			.input {
				height: 60px;
				background-color: #222121;
				padding: 10px;
				display: flex;

				input {
					width: 100%;
					outline: none;
					border: none;
					color: lightgray;
					background: transparent;

					&::placeholder {
						color: lightgray;
					}
				}

				.send {
					display: flex;
					align-items: center;
					gap: 10px;

					img {
						width: 40px;
						height: 24px;
						cursor: pointer;
					}

					button {
						border: none;
						padding: 2px 12px;
						border-radius: 4px;
						cursor: pointer;
						background-color: rgb(14, 95, 194);
					}
				}
			}
		}
	}
}
